In [2]:
#importing the libraries needed 
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

#Declaring the headers 
headers = {"Accept-Language": "en-US,en;q=0.5"}

#declaring the list of empty variables, So that we can append the data overall

movie_name = []
year = []
time=[]
rating=[]
metascore =[]
votes = []
gross = []
description = []

#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,1000,100)

#the whole core of the script
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        name = store.h3.a.text
        movie_name.append(name)
        
        year_of_release = store.h3.find('span', class_ = "lister-item-year text-muted unbold").text
        year.append(year_of_release)
        
        runtime = store.p.find("span", class_ = 'runtime').text
        time.append(runtime)
        
        rate = store.find('div', class_ = "inline-block ratings-imdb-rating").text.replace('\n', '')
        rating.append(rate)
        
        meta = store.find('span', class_ = "metascore").text if store.find('span', class_ = "metascore") else "****"
        metascore.append(meta)
        
        
        value = store.find_all('span', attrs = {'name': "nv"})
        
        vote = value[0].text
        votes.append(vote)
        
        grosses = value[1].text if len(value)>1 else '%^%^%^'
        gross.append(grosses)
        
        # Description of the Movies -- Not explained in the Video, But you will figure it out. 
        describe = store.find_all('p', class_ = 'text-muted')
        description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
        description.append(description_)
        
#creating a dataframe 
liste = pd.DataFrame({ "Movie Name": movie_name, "Year of Release" : year, "Watch Time": time,"Movie Rating": rating,  "Votes" : votes, "Gross": gross})

In [3]:
liste

,Movie Name,Year of Release,Watch Time,Movie Rating,Votes,Gross
0,Die Verurteilten,(1994),142 min,9.3,"2,698,643",$28.34M
1,Der Pate,(1972),175 min,9.2,"1,872,887",$134.97M
2,The Dark Knight,(2008),152 min,9.0,"2,672,414",$534.86M
3,Schindlers Liste,(1993),195 min,9.0,"1,364,295",$96.90M
4,Der Pate 2,(1974),202 min,9.0,"1,279,978",$57.30M
...,...,...,...,...,...,...
995,Philomena: Eine Mutter sucht ihren Sohn,(2013),98 min,7.6,"101,176",$37.71M
996,Der Unsichtbare,(1933),71 min,7.6,"36,838",%^%^%^
997,Schreckenshaus des Dr. Rasanoff,(1960),90 min,7.6,"32,645",$0.05M
998,Shine - Der Weg ins Licht,(1996),105 min,7.6,"54,877",$35.81M
999,Zelle 211 - Der Knastaufstand,(2009),113 min,7.6,"68,563",%^%^%^

In [4]:
liste['Year of Release'].min()

'(1920)'

In [5]:
print(liste['Year of Release'].unique())

['(1994)' '(1972)' '(2008)' '(1993)' '(1974)' '(1957)' '(2003)' '(2022)'
 '(2010)' '(1999)' '(2001)' '(1966)' '(2002)' '(2021)' '(1990)' '(1975)'
 '(1980)' '(2020)' '(2014)' '(1995)' '(1991)' '(1998)' '(1977)' '(1997)'
 '(1946)' '(1954)' '(1962)' '(2019)' '(2000)' '(2006)' '(1979)' '(1985)'
 '(1942)' '(2011)' '(1960)' '(1968)' '(1988)' '(1936)' '(1931)'
 '(II) (2018)' '(I) (2019)' '(1981)' '(2012)' '(2018)' '(1986)' '(1984)'
 '(I) (2017)' '(2016)' '(2009)' '(1964)' '(1950)' '(1940)' '(1963)'
 '(2004)' '(1983)' '(1971)' '(1992)' '(1952)' '(1987)' '(1973)' '(1941)'
 '(1958)' '(1927)' '(1959)' '(1961)' '(1944)' '(2007)' '(1948)' '(1921)'
 '(2017)' '(1955)' '(2013)' '(1976)' '(I) (2020)' '(2005)' '(1989)'
 '(I) (2015)' '(1982)' '(1939)' '(1969)' '(2015)' '(1965)' '(1953)'
 '(1928)' '(1924)' '(1996)' '(1930)' '(1978)' '(I) (2013)' '(1967)'
 '(1949)' '(1934)' '(1926)' '(1925)' '(1951)' '(III) (2016)' '(1937)'
 '(I) (2014)' '(1920)' '(1956)' '(1947)' '(1945)' '(I) (2004)'
 '(II) (2016)' '(1922)' '(I) (2011)' '(1933)' '(1970)' '(1938)'
 '(I) (2001)' '(I) (2008)' '(I) (2010)' '(I) (2006)' '(1932)' '(I) (2007)'
 '(1943)' '(1935)' '(II) (2022)' '(I) (1995)' '(I) (2016)' '(III) (2018)'
 '(I) (1985)']

In [18]:
liste['Year of Release'] =  liste['Year of Release'].apply(lambda x: x.replace('(I)','').replace('(II)','').replace('(III)','')liste['Year of Release'] =  liste['Year of Release'].apply(lambda x: x

In [ ]:
liste['Year of Release'] =  liste['Year of Release'].apply(lambda x: x

In [19]:
print(liste['Year of Release'].unique())

['(1994)' '(1972)' '(2008)' '(1993)' '(1974)' '(1957)' '(2003)' '(2022)'
 '(2010)' '(1999)' '(2001)' '(1966)' '(2002)' '(2021)' '(1990)' '(1975)'
 '(1980)' '(2020)' '(2014)' '(1995)' '(1991)' '(1998)' '(1977)' '(1997)'
 '(1946)' '(1954)' '(1962)' '(2019)' '(2000)' '(2006)' '(1979)' '(1985)'
 '(1942)' '(2011)' '(1960)' '(1968)' '(1988)' '(1936)' '(1931)' ' (2018)'
 ' (2019)' '(1981)' '(2012)' '(2018)' '(1986)' '(1984)' ' (2017)' '(2016)'
 '(2009)' '(1964)' '(1950)' '(1940)' '(1963)' '(2004)' '(1983)' '(1971)'
 '(1992)' '(1952)' '(1987)' '(1973)' '(1941)' '(1958)' '(1927)' '(1959)'
 '(1961)' '(1944)' '(2007)' '(1948)' '(1921)' '(2017)' '(1955)' '(2013)'
 '(1976)' ' (2020)' '(2005)' '(1989)' ' (2015)' '(1982)' '(1939)' '(1969)'
 '(2015)' '(1965)' '(1953)' '(1928)' '(1924)' '(1996)' '(1930)' '(1978)'
 ' (2013)' '(1967)' '(1949)' '(1934)' '(1926)' '(1925)' '(1951)' ' (2016)'
 '(1937)' ' (2014)' '(1920)' '(1956)' '(1947)' '(1945)' ' (2004)' '(1922)'
 ' (2011)' '(1933)' '(1970)' '(1938)' ' (2001)' ' (2008)' ' (2010)'
 ' (2006)' '(1932)' ' (2007)' '(1943)' '(1935)' ' (2022)' ' (1995)'
 ' (1985)']

In [20]:
liste['Year of Release'].max()

'(2022)'

In [1]:
for col in liste.columns:
    pct_missing = liste[col].isnull().mean()                #to check missing values
    print(f'{col} - {pct_missing :.1%}')

NameError: name 'liste' is not defined

In [22]:
liste.to_excel("IMDb_movies.xlsx")